.content{
    height:215px;
    width:100%;
}
.content2{
    height:670px;
    width:100%;
}

@media (max-width:768px) and (min-width:426px){
    .content2{
        height:0px;
    }
}

@media(max-width:425px) {
    .content{
        height:200px;
    }
    .content2{
        width:100%;
        height:150px;
    }
    
}


