.navigation{
    background-color:#262320;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    z-index: -5;
}

.links_container{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size:24px;
}
.link{
    position: relative;
    display: block;
    padding: 10px 20px;
    margin:20px 0;
    text-decoration: none;
    color:rgba(202,152,63);
    font-weight: bold;
    transition: 0.5s;
    z-index: 10;
}
.link:hover{
    color:#262320;
}
.link:before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-top:1px solid rgba(202,152,63);
    border-bottom:1px solid rgba(202,152,63);
    transform: scaleY(2);
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
}

.link:hover::before{
    transform: scaleY(1);
    opacity:1;
}

.link:after{
    content: '';
    position: absolute;
    top:1px;
    left:0;
    width:100%;
    height:100%;
    background: rgba(202,152,63);
    transform: scaleY(0);
    transition: 0.5s;
    z-index: -1;
}

.link:hover::after{
    transform: scaleY(1);
}