.coin_table div {
  color: white;
  padding: 0 20px;
}
.rss_title {
  color: #ecb32a;
  margin: 10px;
  font-size: 20px;
}
.rss_title:hover {
  text-decoration: underline;
  opacity: 0.8;
}
.item_link {
  color: white;
  margin-top: 25px;
}
.item_link:hover {
  color: #ecb32a;
  text-decoration-line: underline;
  opacity: 0.8;
}
.aside_content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;

  width: 25%;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  height: 170vh;
}
.container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.posts_container {
  display: flex;
  flex-direction: column;
}

.rss_content {
  display: flex;
  flex-direction: row;
  align-self: start;
}
.rss_content ul {
  list-style-type: none;
}

/*posts*/
.title{
  margin-top:20px;
}
.posts {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  gap: 10%;
}
.post_image{
  border-radius: 5px;
}
.post {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.post_stats {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1024px) and (min-width: 425px) {
  .container {
    height: 140vh;
  }
  .aside_content {
    margin-left: 50px;

  }
  .item_link {
    font-size: 11px;
    width: 120%;
  }
  .rss_title {
    font-size: 18px;
  }
  .posts {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 10%;
  }
}

@media (max-width: 425px) {
  .container {
    height: 180vh;
  }
  .post {
    margin-bottom: 15px;
  }
  .aside_content {
    width: 100%;
    margin-top: 25px;
  }
  .rss_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rss_body {
    width: 100%;
  }
  .container2 {
    display: flex;
    flex-direction: column;
  }
  .posts {
    display: flex;
    flex-direction: column;
  }
}
